<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <div id="saludo">
        <li v-on:mouseenter="cambiarcolor" v-bind:style="estilo">{{saludo}}</li>

        <button v-on:click="alerta">Presiona</button>
        <button v-on:click="deshabilitar">Deshabilitar</button>
        <button v-on:click="aumentar" v-bind:disabled="disabled">Aumentar</button>

        <div v-html="contador"></div>
        <span v-if="contador>=10">
            Has llegado al limite
        </span>
        <span v-else>
            Todavia no llegas al limite
        </span>

        <ol>
            <li v-for="libro in libros">
                Titulo: {{libro.titulo}}<br>
                Autor: {{libro.autor}}
            </li>
        </ol>
    </div>


    <script>
        const Saludo = {
            data(){
                return{
                    saludo : "Hola mundo",
                    despedida : "Fin de la Clase",
                    contador: 0,
                    estilo: "",
                    disabled: false,
                    libros: [
                        {
                            titulo: "Sangre y Fuego",
                            autor: "George R.R. Martin"
                        },
                        {
                            titulo: "Conversación en la Catedral",
                            autor: "Mario Vargas Llosa"
                        },
                        {
                            titulo: "Caballero Carmelo",
                            autor: "Abraham Valdelomar"
                        }
                    ]
                }
            },
            methods:{
              alerta(){
                  this.despedida = this.despedida.split('').reverse().join('');
              },
              aumentar(){
                  this.contador++;
              },
              cambiarcolor(){
                  this.estilo = 'color:green'
              },
              deshabilitar(){
                  this.disabled = true;
              }
            }
        }
        Vue.createApp(Saludo).mount("#saludo");
    </script>
</body>
</html>